@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  overflow: hidden;
}

.places-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  width: 300px;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

.main-container {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 10px; /* Adjust the gap between columns if needed */
}

.text-container {
  height: 100vh;
  padding: 25px;
  overflow: scroll;
  overflow-x: hidden;
}
.loader-spin {
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
